@using ECommerce.Entity.Product;
@using ECommerce.Entity;
@using ECommerce.Enums;
@using ECommerce.Facade.Product;
@using ECommerce.Facade.Member;
@using ECommerce.Entity.Member;
@using ECommerce.Facade.Shopping;
@using ECommerce.Utility
@{
    ViewBag.Title = "我的咨询";
    Layout = "~/Views/Shared/_Main.cshtml";

    int pageindex = 0;
    int.TryParse(Request.QueryString["page"], out pageindex);

    LoginUser CurrUser = UserMgr.ReadUserInfo();
    CustomerInfo customerInfo = CustomerFacade.GetCustomerInfo(CurrUser.UserSysNo);
    ConsultQueryInfo queryInfo = new ConsultQueryInfo();
    queryInfo.PagingInfo = new PageInfo() { PageIndex = pageindex <= 0 ? 1 : pageindex, PageSize = 5 };
    queryInfo.QueryType = ConsultQueryType.ByCustomer;
    queryInfo.CustomerSysNo = CurrUser.UserSysNo;
    PagedResult<ConsultationInfo> myConsult = CustomerFacade.GetConsultListByCustomerSysNo(queryInfo);

    PageInfo pageInfo = new PageInfo();
    pageInfo.PageIndex = myConsult.PageNumber;
    pageInfo.PageSize = myConsult.PageSize;
    pageInfo.TotalCount = myConsult.TotalRecords;

    SEOInfo seoinfo = new SEOInfo();
    seoinfo.PageTitle = "我的咨询";
    seoinfo.PageKeywords = "账户中心-我的咨询";
    seoinfo.PageDescription = "账户中心-我的咨询";
    SetSEO(seoinfo);
}
@section rsHeader
{
    @BuildCssRef("/Resources/themes/default/css/global.css")
    @BuildCssRef("/Resources/themes/default/css/account.css")
    <style type="text/css">
        .callitem h3
        {
            word-break: break-all;
            word-wrap: break-word;
        }
    </style>
}
@section rsContent
{
    <div class="wraper">
        <div class="crumb"><a href="@BuildUrl("Web_Index")">首页</a><b>&gt;</b><a href="@BuildUrl("Member_Index")">我的全球购物</a><b>&gt;</b><strong>我的咨询</strong></div>
        <div class="main cls">
            <div class="col_220 fl">
                <div class="acont_menu">
                    <dl>
                        <dt class="titA">
                            <h2><a href="@BuildUrl("Member_Index")" style="color:#f60">我的全球购物</a></h2>
                        </dt>
                        <dd class="p10_0">
                            @Html.Partial("~/Views/UserControl/Customer/CustomerAccountCenter.cshtml", customerInfo)
                        </dd>
                    </dl>
                    @Html.Partial("~/Views/UserControl/Customer/CustomerAccountMenu.cshtml")
                </div>
            </div>
            <div class="col_770 fr">
                <div class="modBox modBoxB ">
                    <div class="cpt cpt_section">
                        <h2>
                            <span class="fr mt5">共有 @pageInfo.TotalCount 条记录</span>我的咨询</h2>
                    </div>
                    <div class="formsub formsubB">
                        <div class="inner" style="overflow: hidden;">
                            @if (myConsult != null && myConsult.Count > 0)
                            {

                                foreach (var item in myConsult)
                                {
                                <div class="callitem">
                                    <h3>
                                        <a href="@BuildUrl("ProductDetail", item.ProductSysNo)">@StringUtility.RemoveHtmlTag(item.ProductTitle)</a></h3>
                                    <dl class="aandq">
                                        <dt><span class="gray fr datespan">@item.InDate</span>@string.Format("咨询：{0}", item.Content)</dt>
                                        @if (item.NeweggReply != null)
                                        {
                                            var content = string.Empty;
                                            if (item.NeweggReply.NeedAdditionalText == "N")
                                            {
                                                content = StringUtility.RemoveHtmlTag(item.NeweggReply.Content);
                                            }
                                            else
                                            {
                                                content = StringUtility.RemoveHtmlTag(item.NeweggReply.Content) + "，" + AppSettingManager.GetSetting("Product", "Product_AdditionalText");
                                            }
                                            <dd class="orange">
                                                <span class="gray fr datespan">@item.NeweggReply.InDate</span>@string.Format("{0}{1}", item.NeweggReply.ReplyType.GetEnumDescription(), content)</dd>
                                        }
                                        @if (item.ManufactureReply != null)
                                        {
                                            var content = string.Empty;
                                            if (item.ManufactureReply.NeedAdditionalText == "N")
                                            {
                                                content = StringUtility.RemoveHtmlTag(item.ManufactureReply.Content);
                                            }
                                            else
                                            {
                                                content = StringUtility.RemoveHtmlTag(item.ManufactureReply.Content) + "，" + AppSettingManager.GetSetting("Product", "Product_AdditionalText");
                                            }
                                            <dd class="orange">
                                                <span class="gray fr datespan">@item.ManufactureReply.InDate</span>@string.Format("{0}{1}", item.ManufactureReply.ReplyType.GetEnumDescription(), content)</dd>
                                        }
                                        @if (item.ReplyList != null)
                                        {
                                            foreach (var replay in item.ReplyList)
                                            {
                                                var content = StringUtility.RemoveHtmlTag(replay.Content);
                                            <dd>
                                                <span class="gray fr datespan">@replay.InDate</span><span class="orange">@replay.CustomerInfo.CustomerID</span>&nbsp;@GetText("回复：")@content</dd>
                                            }
                                        }
                                    </dl>
                                </div>
                                }
                            }
                            else
                            {
                                <div class="callitem">
                                    <h3>您暂无咨询记录</h3>
                                </div>
                            }
                        </div>
                    </div>
                    @if (pageInfo != null && pageInfo.PageCount > 0)
                    {
                        @Html.Partial("~/Views/UserControl/Common/PaginationBar.cshtml", pageInfo)
                    }
                </div>
            </div>
        </div>
    </div>
}
