@using ECommerce.Entity.Product
@using ECommerce.Facade.Product
@using ECommerce.Facade.Product.Models
@using ECommerce.Utility
@using ECommerce.Entity.Promotion
@using ECommerce.Enums
@using ECommerce.Entity
@using ECommerce.Facade.Shopping
@using System.Configuration
@{
    ViewBag.Title = "ProductConsultDetail";
    Layout = "~/Views/Shared/_Main.cshtml";

    int consultSysNo = ViewBag.ConsultSysNo;

    var DefaultImageUrl = "/Resources/themes/default/Nest/img/default_photo.png";

    int pageIndex = 1;
    int.TryParse(Request.QueryString["page"], out pageIndex);

    ConsultQueryInfo queryInfo = new ConsultQueryInfo();
    queryInfo.ConsultSysNo = consultSysNo;
    queryInfo.PagingInfo = new PageInfo() { PageIndex = pageIndex <= 0 ? 1 : pageIndex, PageSize = 10 };
    //商品咨询详情 
    ConsultationInfo Consultinfo = ConsultationFacade.GetConsultListBySysNo(queryInfo);



    ///商品信息
    ProductSalesInfo basicInfo = ProductFacade.GetProductSalesInfoBySysNo(Consultinfo.ProductSysNo);
    var productInfo = ProductFacade.GetProductBasicInfoBySysNo(Consultinfo.ProductSysNo);

    //商品促销信息
    ProductPromotionInfo promotionInfo = ProductFacade.GetProductPromotionInfo(Consultinfo.ProductSysNo);
    bool isGroupBuyProduct = false;
    if (promotionInfo != null && promotionInfo.GroupBuySysNo > 0)
    {
        isGroupBuyProduct = true;
    }

    SEOInfo seoinfo = new SEOInfo();
    seoinfo.PageTitle = StringUtility.RemoveHtmlTag(basicInfo.ProductName);
    seoinfo.PageKeywords = string.Format("咨询详情-{0}", basicInfo.Keywords);
    if (!string.IsNullOrEmpty(basicInfo.ProductDesc) && basicInfo.ProductDesc.Length <= 200)
    {
        seoinfo.PageDescription = string.Format("咨询详情-{0},{1}", basicInfo.Keywords, basicInfo.ProductDesc);
    }

    if (!string.IsNullOrEmpty(basicInfo.ProductDesc) && basicInfo.ProductDesc.Length > 200)
    {
        seoinfo.PageDescription = string.Format("咨询详情-{0},{1}...", basicInfo.Keywords, basicInfo.ProductDesc.Substring(0, 200));
    }

    SetSEO(seoinfo);

    var pageInfo = new PageInfo();
    if (Consultinfo.PagedReplyList != null && Consultinfo.PagedReplyList.TotalRecords > 0)
    {
        pageInfo.PageIndex = Consultinfo.PagedReplyList.PageNumber;
        pageInfo.PageSize = Consultinfo.PagedReplyList.PageSize;
        pageInfo.TotalCount = Consultinfo.PagedReplyList.TotalRecords;
    }

    //商品是否被收藏
    LoginUser CurrUser = UserMgr.ReadUserInfo();
    bool productIsWished = false;
    bool Islogin = false;
    if (CurrUser == null || CurrUser.UserSysNo <= 0)
    {
        Islogin = false;
        productIsWished = false;
    }
    else
    {
        Islogin = true;
        productIsWished = ProductFacade.IsProductWished(Consultinfo.ProductSysNo, CurrUser.UserSysNo);
    }
    
    
}
@section rsHeader{
    @BuildJsRef("/Resources/themes/default/js/jqzoom.js")
    @BuildJsRef("/Resources/themes/default/js/ui.popWin.js")
    @BuildCssRef("/Resources/themes/default/css/product.css")
    @BuildJsRef("/Resources/scripts/pages/product/consult.js")
    <style type="text/css">
        .cmtlist p
        {
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>
}
@section rsContent{
    <div class="wraper">
        <div class="main cls">
            @Html.Raw(ProductFacade.BuildProductCommentBreadCrumb(basicInfo.CategoryID, basicInfo.ProductID, basicInfo.BrandID, basicInfo.BrandName, true, "4"))
            <div class="commentmain">
                <div class="detailbox" trigger="click">
                    <h3 class="tit">商品信息</h3>
                    <div class="inner">
                        <div class="img">
                            <a href="@BuildUrl("ProductDetail", basicInfo.ProductSysNo)">
                                <img src="@ProductFacade.BuildProductImage(ImageSize.P120, basicInfo.DefaultImage)" alt=""  title="@StringUtility.RemoveHtmlTag(basicInfo.ProductShowName)"/></a>
                        </div>
                        <p class="tit">
                            <a href="@BuildUrl("ProductDetail", basicInfo.ProductSysNo)" title="@StringUtility.RemoveHtmlTag(basicInfo.ProductShowName)">@StringUtility.RemoveHtmlTag(basicInfo.ProductShowName)</a>
                        </p>
                        <p>
                            <span class="price">@basicInfo.TotalPrice.ToString("f2")</span>
                        </p>
                        @*
                        <p>
                            <a href="javascript:void(0)" class="blueB vm">@string.Format(" [{0}条咨询]", Consultinfo())</a></p>*@
                        <div class="action">
                            <input type="hidden" id="AddToWishListUrl" value="@BuildUrlCA("Product", "AjaxAddProductToWishList")" />
                            <input type="hidden" id="ProductSysNo" value="@basicInfo.ProductSysNo" />
                            <input type="hidden" id="LoginUrl" value="@BuildUrl("Login")"/>
                            <input type="hidden" id="ReturnUrl" value="@BuildUrl("ProductConsultDetail", consultSysNo)"/>
                             @if (productInfo.ProductType != ProductType.Other && !isGroupBuyProduct)
                             {
                                 <a class="inblock btn_addcartB mr10 fl" href="@ShoppingFacade.BuildAddProductUrl(BuildUrl("AddShoppingCartRoute"), basicInfo.ProductSysNo)">加入购物车</a>
                             }
                            @if (productIsWished)
                            {
                                <a href="javascript:void(0)" class="inblock btn_favoredB mr10 fl" onclick="consult.wish();">加入收藏</a>
                            }
                            else
                            { 
                                <a href="javascript:void(0)" id="btnAddToWish" class="inblock btn_addfavorB mr10 fl"
                                    onclick="consult.addToWish(this)">加入收藏</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="comnt_detail mt10">
                    <div class="inner">
                        <div class="jumpline cls">
                            <a class="blue" href="@BuildUrl("ProductConsult", basicInfo.ProductSysNo)" target="_blank">查看全部咨询</a><a class="inblock btn_canconsult ml20" href="@(BuildUrl("ProductConsult", basicInfo.ProductSysNo) + "?#divtxt")" target="_blank">我要咨询</a>
                        </div>
                        <ul class="cmtlist consultlist">
                            <li class="cmtli cls">
                                <div class="user fl">
                                    @if (Consultinfo.CustomerExtendInfo != null && Consultinfo.CustomerExtendInfo.AvtarImageStatus == AvtarImageStatus.A && !string.IsNullOrEmpty(Consultinfo.CustomerExtendInfo.AvtarImage))
                                    {
                                        DefaultImageUrl = ConstValue.FileBaseUrl + "/" + Consultinfo.CustomerExtendInfo.AvtarImage;
                                    }
                                    <img src="@DefaultImageUrl" alt=""/>
                                    <span class="blue" style="cursor: default;">@Consultinfo.CustomerInfo.MaskNickName</span>
                                    <div class="tc">
                                        @Consultinfo.CustomerInfo.CustomerRank.GetEnumDescription()
                                    </div>
                                </div>
                                <div class="cmt">
                                    <div class="date">
                                        <span class="gray fr">@string.Format("发表于：{0}", Consultinfo.InDate.ToString("yyyy-MM-dd HH:mm:ss"))</span>
                                    </div>
                                    <div class="posttext">
                                        @*
                                        <div class="cmt_line cls">
                                            <label>
                                                商品咨询：</label>
                                            <div class="cmt_item">
                                                <p>
                                                    @basicInfo.ProductTitle</p>
                                            </div>
                                        </div>*@
                                        <div class="cmt_line cls">
                                            <label>
                                                咨询内容：</label>
                                            <div class="cmt_item">
                                                <p>
                                                    @Consultinfo.Content
                                                </p>
                                            </div>
                                        </div>
                                        <div class="cls">
                                            <a href="#divtxt" class="blueB">[回复]</a>
                                        </div>
                                        @if (Consultinfo.NeweggReply != null)
                                        {
                                            <div class="cmt_line replyB cls mt10">
                                                <div class="reply_tit">
                                                    <span class="gray fr">@string.Format("回复于：{0}", Consultinfo.NeweggReply.InDate)</span><span
                                                        class="replyicon orange">@string.Format("{0}", Consultinfo.NeweggReply.ReplyType.GetEnumDescription())</span>
                                                </div>
                                                <div class="cmt_item mt10">
                                                    <p>
                                                        @if (!string.IsNullOrEmpty(Consultinfo.NeweggReply.Content))
                                                        {
                                                            @(Consultinfo.NeweggReply.NeedAdditionalText == "N" ? StringUtility.RemoveHtmlTag(Consultinfo.NeweggReply.Content)
        : StringUtility.RemoveHtmlTag(Consultinfo.NeweggReply.Content) + "，" + AppSettingManager.GetSetting("Product", "Product_AdditionalText"))
                                                        }
                                                    </p>
                                                </div>
                                            </div>
@*
                                            <div class="cls tr">
                                                <a href="javascript:void(0)" class="blueB">有用(2)</a> <a class="ml10 blueB" href="javascript:void(0)">没用(2)</a>
                                            </div>*@
                                        }
                                        @if (Consultinfo.ManufactureReply != null)
                                        {
                                            <div class="cmt_line replyB cls mt10">
                                                <div class="reply_tit">
                                                    <span class="gray fr">@string.Format("回复于：{0}", Consultinfo.ManufactureReply.InDate)</span><span
                                                        class="replyicon orange">@string.Format("{0}", Consultinfo.ManufactureReply.ReplyType.GetEnumDescription())</span>
                                                </div>
                                                <div class="cmt_item mt10">
                                                    <p>
                                                        @(Consultinfo.ManufactureReply.NeedAdditionalText == "N" ? StringUtility.RemoveHtmlTag(Consultinfo.ManufactureReply.Content)
  : StringUtility.RemoveHtmlTag(Consultinfo.ManufactureReply.Content) + "，" + AppSettingManager.GetSetting("Product", "Product_AdditionalText"))
                                                    </p>
                                                </div>
                                            </div>
@*
                                            <div class="cls tr">
                                                <a href="javascript:void(0)" class="blueB">有用(2)</a> <a class="ml10 blueB" href="javascript:void(0)">没用(2)</a>
                                            </div>*@
                                        }
                                    </div>
                                </div>
                            </li>
                            @if (Consultinfo.PagedReplyList != null && Consultinfo.PagedReplyList.Count > 0)
                            {
                                for (int i = 0; i < Consultinfo.PagedReplyList.Count; i++)
                                {
                                    if (Consultinfo.PagedReplyList[i] != null)
                                    {

                                        if (Consultinfo.PagedReplyList[i].CustomerExtendInfo != null && Consultinfo.PagedReplyList[i].CustomerExtendInfo.AvtarImageStatus == AvtarImageStatus.A && !string.IsNullOrEmpty(Consultinfo.PagedReplyList[i].CustomerExtendInfo.AvtarImage))
                                        {
                                            DefaultImageUrl = ConstValue.FileBaseUrl + "/" + Consultinfo.PagedReplyList[i].CustomerExtendInfo.AvtarImage;
                                        }
                                <li class="cmtli cls">
                                    <div class="user fl">
                                        <span>
                                            <img src="@DefaultImageUrl"/><span class="blue" style="cursor: default;">@Consultinfo.PagedReplyList[i].CustomerInfo.MaskNickName</span></span>
                                        <div class="tc">
                                            @Consultinfo.PagedReplyList[i].CustomerInfo.CustomerRank.GetEnumDescription()
                                        </div>
                                    </div>
                                    <div class="cmt">
                                        <div class="cls">
                                            <span class="floor mr10">@string.Format("{0}楼", i + 1)</span><span class="blue" style="cursor: default;">@Consultinfo.PagedReplyList[i].CustomerInfo.MaskNickName</span>
                                            <span class="gray ml5">回复说：</span>
                                        </div>
                                        @*
                                        <div style="display: none;" id="divHidden">
                                            <textarea autocomplete="off" class="textarea" id="txtHidden1"></textarea>
                                            <a class="inblock btn_cmt" href="javascript:void(0)" onclick="reviewQuery.createDetailReply1();">
                                                提交</a>
                                        </div>*@
                                        <div class="date">
                                            <span class="gray fr">@string.Format("回复于：{0}", Consultinfo.PagedReplyList[i].InDate.ToString("yyyy-MM-dd HH:mm:ss"))</span>
                                        </div>
                                        <div class="posttext">
                                            <div class="cmt_line replyA cls" style="word-wrap: break-word; word-break: break-all">
                                                <p>
                                                    @Consultinfo.PagedReplyList[i].Content
                                                </p>
                                            </div>
                                        </div>
                                </li>
                                    }
                                }
                            }
                        </ul>
                        <div class="cls p10 box_common">
                            <div class="fl mt5">
                                <a class="blue">@string.Format("共有{0}条网友回复", Consultinfo.PagedReplyList != null ? Consultinfo.PagedReplyList.TotalRecords : 0)</a>
                            </div>
                            @if (pageInfo != null && pageInfo.PageCount > 1)
                            {
                                @Html.Partial("~/Views/UserControl/Common/PaginationBar.cshtml", pageInfo);
                            }
                        </div>
                    </div>
                    <div id="divtxt" class="commentfrom mt20">
                        <div class="cpt">
                            <h2>发表回复</h2>
                        </div>
                        <div class="publish_comnt">
                            @if (!Islogin)
                            {
                                <p class="warning">
                                    <span class="red">登录后才能发表购物咨询回复</span><a class="ml5 blueB" href="@BuildUrl("Login")?ReturnUrl=@BuildUrl("ProductConsultDetail", consultSysNo)">[立即登录]</a>
                                </p>
                            }
                            <ul class="comnt_cont mt10 mb15">
                                <li>
                                    <input type="hidden" id="CreateConsultReply" value="@BuildUrlCA("Product", "CreateProductConsultReply")" />
                                    <label class="label">
                                        回复此咨询：</label><textarea id="txtconsultrep" class="textarea" autocomplete="off"></textarea><span
                                            class="red ml5">*</span><span class="tip ml5">还可以输入<strong class="red">300</strong>
                                                字</span></li>
                            </ul>
                            <div class="left">
                                <input type="hidden" id="CheckLogin" value="@BuildUrlCA("Product", "CheckLogin")" />
                                <input type="hidden" id="ConsultSysNo" value="@consultSysNo" />
                                <input type="hidden" id="ProductName" value="@basicInfo.ProductName" />
                                <input type="hidden" id="Email" value="@Consultinfo.CustomerInfo.Email" />

                                @if (Islogin)
                                {
                                    <a href="javascript:void(0)" class="inblock btn_consult" id="btnsubmit" name="btnsubmit" onclick="consult.createconsultReply(this);">发表咨询回复</a>
                                }
                                else
                                {
                                    <a class="inblock btn_disconsult" href="javascript:void(0)" onclick="javascript:this.href='@BuildUrl("Login")?ReturnUrl=@BuildUrl("ProductConsultDetail", consultSysNo)';return true;">
                                        <span>发表咨询回复</span></a>
                                }
                                <!--<a href="javascript:void(0)" class="inblock btn_close">关闭</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* 收藏成功 *@
        <div id="addwish" class="centerPopE" style="display: none;">
            <div class="centerPopT">
                <h3>加入我的收藏夹</h3>
                <a href="javascript:void(0);" title="关闭" class="close ie6png inblock">×</a>
            </div>
            <div class="centerPopBody">
                <p class="p10">@StringUtility.RemoveHtmlTag(basicInfo.ProductName)</p>
                <p class="p10">
                    您还可以 <a class="ml10 blue" href="@BuildUrl("Web_Index")">继续购物</a><a class="ml10 blue"
                        href="@BuildUrl("Member_MyFavorite")">查看收藏夹</a>
                </p>
                <div class="clear">
                </div>
            </div>
        </div>
        @* 收藏成功 *@
        <div id="wish" class="centerPopE" style="display: none;">
            <div class="centerPopT">
                <h3>该商品已经添加收藏</h3>
                <a href="javascript:void(0);" title="关闭" class="close ie6png inblock">×</a>
            </div>
            <div class="centerPopBody">
                <p class="p10">@StringUtility.RemoveHtmlTag(basicInfo.ProductName)</p>
                <p class="p10">
                    您还可以 <a class="ml10 blue" href="@BuildUrl("Web_Index")">继续购物</a><a class="ml10 blue"
                        href="@BuildUrl("Member_MyFavorite")">查看收藏夹</a>
                </p>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //Textarea输入框的统计字数动作
        var wordsCountWrap = $('.comnt_cont .tip'); //评论字数提示容器 
        var commentTextArea = $('.comnt_cont textarea'); //评论文本输入框
        commentTextArea.bind('input', function () {
            checkMaxInput(this);
        }).bind('keyup', function () {
            checkMaxInput(this);
        }).bind('blur', function () {
            checkMaxInput(this);
        });

        var maxLen = 300; //最大输入字符数量
        String.prototype.lenGBK = function () {
            return this.replace(/[^\x00-\xff]/g, "*").length;
        }

        wordsCountWrap.find('.red').text(maxLen);

        //定义即时检测字数的方法
        function checkMaxInput(_textObj) {
            var n;
            if (_textObj.getAttribute('tip') != '') {
                n = _textObj.value.replace(_textObj.getAttribute('tip'), '').lenGBK();
            }
            else {
                n = _textObj.value.lenGBK();
            }
            if (n > maxLen) {
                //wordsCountWrap.addClass('wordCountAlert').empty().append('已超出<span class="num">'+(n-maxLen)+'</span>字');
                $(_textObj).siblings(".tip").addClass('wordCountAlert').empty().append('已超出<strong class="red">' + (n - maxLen) + '</strong>字');

            }
            else {
                //wordsCountWrap.removeClass('wordCountAlert').empty().append('还可以输入<span class="num">'+(maxLen-n)+'</span>字');
                $(_textObj).siblings(".tip").removeClass('wordCountAlert').empty().append('还可以输入<strong class="red">' + (maxLen - n) + '</strong>字');
            }
        }

    </script>
}
