<!doctype html>
<html lang="zh-ch" class="@ViewBag.PageTypeClassName @ViewBag.Theme">
<head>
    <meta charset="gb2312" />
    <title>@ViewBag.Title</title>
    <link href="/Resources/themes/default/css/global.css" type="text/css" rel="stylesheet" />
    <link href="/Resources/themes/default/css/storePage_element.css" type="text/css" rel="stylesheet" />
    <link href="/Resources/themes/default/css/storePage_theme.css" type="text/css" rel="stylesheet" />
    <link href="/Resources/themes/default/ele_css/ele_popWin.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/Resources/themes/default/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Resources/scripts/common/jquery-extension.js"></script>
    <script type="text/javascript" src="/Resources/themes/default/js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="/Resources/themes/default/js/ui.base.js"></script>
    <script type="text/javascript" src="/Resources/themes/default/js/ui.Xslider.js"></script>
    <script type="text/javascript" src="/Resources/themes/default/js/ui.popWin.js"></script>
    @BuildJsRef("/Resources/scripts/common/common.js")
    @BuildJsRef("/Resources/scripts/pages/home/_main.js")
    @BuildCssRef("/Resources/themes/default/css/couponCard.css")
</head>

<!--[if lt IE 7]><body class="ie6"><![endif]-->
<!--[if IE 7]><body class="ie7"><![endif]-->
<!--[if IE 8]><body class="ie8"><![endif]-->
<!--[if IE 9]><body class="ie9"><![endif]-->
<!--[if !IE]><!-->
<body>
    <!--<![endif]-->
    <div id="headerCtner" class="headerCtner" data-pos-stick="false">
        @Html.Partial("_Header_Top")
        @Html.Partial("~/Views/Store/UserControls/Header.cshtml")
    </div>
    <div class="headerPlaceHolder" style="height: 0px;"></div>
    <div id="main">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
    @Html.Partial("_FloatFunc")



    <script type="text/javascript" src="/Resources/themes/default/js/pg_store.js"></script>

    <!--[if IE 6]>                      
    <script type="text/javascript" src="/Resources/themes/default/js/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>
        DD_belatedPNG.fix('.ie6png');
    </script>
    <![endif]-->
    <script type="text/javascript">
        $(function () {
            ();
        });

    </script>
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
    <script type="text/javascript">
        BizQQWPA.addCustom({ aty: '0', a: '0', nameAccount: 10000, selector: 'BizQQToCS' });
        BizQQWPA.addCustom({ aty: '0', a: '0', nameAccount: 10000, selector: 'BizQQToFeedback' });
    </script>
</body>
</html>


