<dl>
	<dt><h2>订单管理</h2></dt>
	<dd>
		<ul class="item list">
			<li><a href="@BuildUrlCA("MemberOrder", "Index")">订单查询</a></li>
@*			<li><a href="@BuildUrlCA("MemberOrder", "GroupBuyTicket")">我的团购券</a></li>*@
			<li><a href="@BuildUrlCA("RMA", "RMARequest")">售后申请</a></li>
			<li><a href="@BuildUrlCA("RMA", "RMAQuery")">售后查询</a></li>
		</ul>
	</dd>
</dl>
<dl>
	<dt><h2>服务中心</h2></dt>
	<dd>
		<ul class="item list">
			<li><a href="@BuildUrl("Member_ProductNotify")">到货通知</a></li>
			<li><a href="@BuildUrl("Member_ProductPriceNotify")">降价通知</a></li>
			<li><a href="@BuildUrl("Member_MyFavorite")">我的收藏</a></li>
			<li><a href="@BuildUrl("Member_MyReview")">我的评论</a></li>
			<li><a href="@BuildUrl("Member_MyConsult")">我的咨询</a></li>
            @*<li><a href="@BuildUrl("Member_MyShowOrder")">我的晒单</a></li>*@
								
		</ul>
	</dd>
</dl>
<dl>
	<dt><h2>个人信息管理</h2></dt>
	<dd>
		<ul class="item list">
			<li><a href="@BuildUrl("Member_CustomerInfo")">编辑个人信息</a></li>
@*            <li><a href="@BuildUrl("Member_AuthenticationInfo")">实名认证信息</a></li>*@
			<li><a href="@BuildUrl("Member_ChangeAvatar")">修改头像</a></li>
			<li><a href="@BuildUrl("Member_ShippingInfo")">管理收货信息</a></li>
			<li><a href="@BuildUrl("Member_ChangePassword")">修改账户密码</a></li>
		    @*<li><a href="@BuildUrl("Member_MyPoint")">我的积分</a></li>*@
		    @*<li><a href="@BuildUrl("Member_PrepayHistory")">账户余额</a></li>*@
		    <li><a href="@BuildUrl("Member_Coupon")">我的优惠券</a></li>
		</ul>
	</dd>
</dl>
@*<dl>
	<dt><h2>礼品卡管理</h2></dt>
	<dd>
		<ul class="item list">
			<li><a href="@BuildUrl("GiftCard_MyGiftCard")">我的礼品卡</a></li>
            <li><a href="@BuildUrl("Member_GiftCardUsedRecord")">消费记录</a></li>
            <li><a href="@BuildUrl("Member_GiftCardBinding")">绑定帐号</a></li>
            <li><a href="@BuildUrl("Member_GiftCardModifyPwd")">修改密码</a></li>
        </ul>
    </dd>
</dl>*@

<script type="text/javascript">
    $(function() {
        $("ul.item a").each(function() {
            var href = $(this).attr("href");
            if (window.location.href.indexOf(href) >= 0) {
                $(this).parent().addClass("current");
            }
        });
    });
</script>