@using ECommerce.Utility
@using ECommerce.Enums
@{ 
    bool hasLogin = UserMgr.HasLogin();
}
<script type="text/javascript">
    function AddFavForTop(title) {
        var url = window.location.host;
        if ($.browser.msie) {
            window.external.addFavorite("http://" + url, title);
            return false;
        }
        else if ($.browser.mozilla) {
            window.sidebar.addPanel(title, url, "");
        }
        else {
            alert("请使用快捷键进行收藏Ctrl+D");
            return false;
        }

        return true;
    }
</script>
<div class="row">
    <div class="col-md-3">
        <ul class="shortcut-left">
                @if (UserMgr.HasLogin())
                {
                    LoginUser user = UserMgr.ReadUserInfo();
                    <li><a href="javascript:void(0)"><i class="fa fa-mobile" aria-hidden="true"></i>手机ABC</a></li>      
                    <li><a href="@BuildUrl("Member_Index")">
                        @StringUtility.TruncateString((string.IsNullOrWhiteSpace(user.UserDisplayName) ? user.UserID : user.UserDisplayName), 20, "...")
                        </a> @("，欢迎来到全球购物")
                    </li>
                    <li><a href="@BuildUrl("Home_Logout")">[退出]</a></li>                            
                }
                else
                {
                    string loginReturnUrl = string.Format("{0}?returnUrl={1}", BuildUrl("Home_Login"), Request.Url.ToString());
                    if (ViewBag.ExcludeReturnPage == true)
                    {
                        loginReturnUrl = BuildUrl("Home_Login");
                    }
                    <li><a href="javascript:void(0)"><i class="fa fa-mobile" aria-hidden="true"></i>手机ABC</a></li>
                    <li><a href="@loginReturnUrl">请登录</a></li>
                    <li><a href="@BuildUrl("Home_Register")">免费注册</a></li>
                }
            </ul>
    </div>
    <div class="col-md-9">
        <ul class="fr nav nav-pills">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">我的ABC<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="@BuildUrl("Member_OrderList")">我的订单</a></li>
                    <li><a href="#">子菜单</a></li>                         
                </ul>
            </li>
            <li class="spacer"></li>
            <li class="dropdown">
                <a href="javascript:void(0)" >我的产品</a>
            </li>
            <li class="spacer"></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-star-o" aria-hidden="true"></i>收藏夹<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">子菜单</a></li>
                    <li><a href="#">子菜单</a></li>                         
                </ul>
            </li>
            <li class="spacer"></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">信用中心<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">子菜单</a></li>
                    <li><a href="#">子菜单</a></li>                         
                </ul>
            </li>
            <li class="spacer"></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">实力卖家<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">子菜单</a></li>
                    <li><a href="#">子菜单</a></li>                         
                </ul>
            </li>
            <li class="spacer"></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">我是供应商<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#">子菜单</a></li>
                    <li><a href="#">子菜单</a></li>                         
                </ul>
            </li>
            <li class="spacer"></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">客服中心<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="@BuildUrl("ServiceCenter")">帮助中心</a></li>
                    <li><a href="@BuildUrlCA("RMA", "RMARequest")">退换货</a></li>                         
                </ul>
            </li>
        </ul>
    </div>
</div>
                

