@using Nesoft.ECWeb.Facade.Recommend
@using Nesoft.ECWeb.Enums
@model Nesoft.ECWeb.M.Models.Brand.BrandStreetVM
@{
    ViewBag.Title = "品牌街";
    Layout = "~/Views/Shared/_Master.cshtml";
}

@section Section_Header{
    @BuildCssRef("/Resources/style/brand.css")
}

@section Section_Content
{
    <div id="main">
        <div class="brandPage">
            <div class="topBrands">
                @if (Model.TopBrands != null && Model.TopBrands.Count > 0)
                {
                    <ul class="clearfix">
                        @foreach (var brand in Model.TopBrands)
                        {
                            <li><a title="@Html.Encode(brand.BrandName)" href="@BuildUrl("BrandDetail", brand.BrandID)" target="_self">
                                <img src="@brand.ImageUrl"></a></li>
                        }
                    </ul>
                }
            </div>

            <div class="brandGrids">
                @if (Model.BrandGrid != null && Model.BrandGrid.Count > 0)
                {
                    <ul class="clearfix">
                        @foreach (var brand in Model.BrandGrid)
                        {
                            <li><a title="@Html.Encode(brand.BrandName)" href="@BuildUrl("BrandDetail", brand.BrandID)"  target="_self">
                                <img src="@brand.ImageUrl"></a></li>
                        }
                    </ul>
                }
            </div>

        </div>

    </div>
}
