@using ECommerce.Enums
@using ECommerce.WebFramework
@{
    ViewBag.Title = GetText("查询优惠券使用情况");
}
@section headers
{
    @Styles.Render("~/Content/plugin/bootstrapValidator/css")
    @Styles.Render("~/Content/plugin/datetimepicker/css")
    @Styles.Render("~/Content/plugin/select/css")
    @Styles.Render("~/Content/plugin/datatables/css")
}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-search"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">@GetText("查询条件")</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal" id="condForm">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">@GetText("活动编号")</label>
                                    <div class="col-md-7">
                                        <input type="text" data-model="CouponSysNo" class="form-control" name="CouponSysNo" maxlength="10">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">@GetText("活动名称")</label>
                                    <div class="col-md-7">
                                        <input type="text" data-model="CouponName" class="form-control" name="CouponName" maxlength="200">
                                    </div>
                                </div>
                            </div>  

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">@GetText("优惠券代码")</label>
                                    <div class="col-md-7">
                                        <input type="text" data-model="CouponCode" class="form-control" name="CouponCode" maxlength="12">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">@GetText("客户账号")</label>
                                    <div class="col-md-7">
                                        <input type="text" data-model="CustomerID" class="form-control" name="CustomerID" maxlength="50">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">@GetText("订单号")</label>
                                    <div class="col-md-7">
                                        <input type="text" data-model="SOID" class="form-control" name="SOID" maxlength="11">
                                    </div>
                                </div>
                            </div>  
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">@GetText("使用状态")</label>
                                    <div class="col-md-7">
                                        <select class="bs-select form-control" data-model="CouponCodeStatus" name="CouponCodeStatus">
                                            @{
                                                foreach (var item in EnumUIHelper.GetKeyValuePairs<CouponCodeUsedStatus>(EnumAppendItemType.All))
                                                {
                                                <option value="@(item.Key.HasValue ? (int)item.Key : -999)">@item.Value</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">@GetText("使用时间")</label>
                                    <div class="col-md-7">
                                        <div class="btn default date-range">
                                            <i class="fa fa-calendar"></i>
                                            <span>&nbsp;</span>
                                            <div style="display: none;">
                                                <input type="text" data-model="BeginUseDate" name="BeginUseDate" class="date-start" />
                                                <input type="text" data-model="EndUseDate" name="EndUseDate" class="date-end" />
                                            </div>
                                            <b class="fa fa-angle-down"></b>
                                        </div>
                                    </div>
                                </div>
                            </div>                                                     
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-8">
                            <button type="button" class="btn yellow margin-bottom" id="btnSearch">
                                <i class="fa fa-search"></i>&nbsp;@GetText("查询")
                            </button>
                            <button type="button" class="btn default margin-bottom" id="btnReset">
                                <i class="fa fa-refresh"></i>&nbsp;@GetText("重置")                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">@GetText("查询结果")</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <table class="table table-bordered table-hover" id="resultGrid">
            <thead>
                <tr>
                    <th>@GetText("编号")
                    </th>
                    <th>@GetText("优惠券代码")
                    </th>
                    <th>@GetText("订单号")
                    </th>
                    <th>@GetText("订单状态")
                    </th>
                    <th>@GetText("订单金额")
                    </th>
                    <th>@GetText("抵扣金额")
                    </th>
                    <th>@GetText("客户账号")
                    </th>
                    <th>@GetText("订单日期")
                    </th>
                    <th>@GetText("使用状态")
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="navbar-default navbar-fixed-bottom function-pannel" role="navigation">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Content/plugin/bootstrapValidator/js")
    @Scripts.Render("~/Content/plugin/datetimepicker/js")
    @Scripts.Render("~/Content/plugin/select/js")
    @Scripts.Render("~/Content/plugin/datatables/js")
    @ECommerce.WebFramework.LanguageHelper.SetJSResource()
    <script type="text/javascript">
        var ComponentsPickers = function () {

            var handleDateRangePickers = function () {
                if (!jQuery().daterangepicker) {
                    return;
                }

                $(".date-range").defaultDateRangePicker();
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleDateRangePickers();
                }
            };

        }();
    </script>
    <script>
        var ComponentsDropdowns = function () {

            var handleBootstrapSelect = function () {
                $('.bs-select').selectpicker({
                    iconBase: 'fa',
                    tickIcon: 'fa-check'
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleBootstrapSelect();
                }
            };

        }();
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#condForm').bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    CouponSysNo: {
                        validators: {
                            regexp: {
                                regexp: /^\d{0,9}$/,
                                message: JR('请输入有效的活动编号')
                            }
                        }
                    },
                    CouponName: {
                        validators: {
                            stringLength: {
                                min: 0,
                                max: 200,
                                message: JR("活动名称最多200字符")
                            }
                        }
                    },
                    CouponCode: {
                        validators: {
                            stringLength: {
                                min: 0,
                                max: 12,
                                message: JR("优惠券代码最多12字符")
                            }
                        }
                    },
                    SOID: {
                        validators: {
                            regexp: {
                                regexp: /^\d{0,11}$/,
                                message: JR('请输入有效的订单号')
                            }
                        }
                    }
                }
            });
        });
    </script>
    <script>
        jQuery(document).ready(function () {
            ComponentsPickers.init();
            ComponentsDropdowns.init();

            var grid = new Datatable();
            grid.init({
                src: $("#resultGrid"),
                dataTable: {
                    "serverSide": true,
                    "columns": [
                    { "mData": "SysNo", "orderable": true },
                    { "mData": "CouponCode", "orderable": true },
                    { "mData": "SOSysNo", "orderable": true },
                    { "mData": "SOStatus", "orderable": true },
                    { "mData": "SOAmt", "orderable": true },
                    { "mData": "RedeemAmount", "orderable": true },
                    { "mData": "CustomerID", "orderable": true },
                    { "mData": "OrderDate", "orderable": true },
                    { "mData": "RedeemLogStatus", "orderable": true }
                    ],
                    "columnDefs": [
                   {
                       "name": "RedeemLog.SysNo",
                       "targets": 0
                   },
                   {
                       "name": "RedeemLog.CouponCode",
                       "targets": 1
                   },
                   {
                       "name": "so.SysNo",
                       "targets": 2
                   },
                   {
                       "name": "so.Status",
                       "targets": 3
                   },
                   {
                       "name": "so.SOAmt",
                       "targets": 4
                   },
                   {
                       "name": "RedeemLog.RedeemAmount",
                       "targets": 5
                   },
                   {
                       "name": "cs.CustomerID",
                       "targets": 6
                   },
                   {
                       "name": "so.OrderDate", "targets": 7,
                       "render": function (data, type, row) {
                           var m = moment(row.OrderDate);
                           if (m.isValid()) {
                               return m.format("YYYY-MM-DD HH:mm:ss");
                           }
                           return "";
                       }
                   },
                   {
                       "name": "RedeemLog.Status",
                       "targets": 8
                   }],
                    "pageLength": 10, // default record count per page
                    "ajax": {
                        "url": "/Promotion/QueryCouponCodeRedeemLog",
                        "type": "POST"
                    },
                    //默认排序
                    "order": [[0, "desc"]]
                }
            });
            $('#condForm').on("success.form.bv", function (e) {
                grid.clearAjaxParams();
                var queryFilter = $.buildEntity($("#condForm"));
                if (queryFilter.CouponCodeStatus == "-999") {
                    queryFilter.CouponCodeStatus = null;
                }
                grid.addAjaxParam("queryfilter", $.toJSON(queryFilter));
                grid.getDataTable().ajax.reload();
            });

            $("#btnSearch").click(function () {
                $('#condForm').bootstrapValidator('validate');
            });
            $("#btnReset").click(function () {
                $('#condForm').data('bootstrapValidator').resetForm(true);
                $('.bs-select').val(-999).selectpicker("refresh");
                $(".date-range").daterangepicker("clear");
            });            
        });
    </script>
}