@{    
    ViewBag.Title = "找回密码";
    ViewBag.ExcludeReturnPage = true;
      Layout = "~/Views/Shared/_LoginMain.cshtml";
}
@section rsHeader
{
    @BuildCssRef("/Resources/themes/default/css/global.css")
    @BuildCssRef("/Resources/themes/default/css/login_reg.css")
    
    @BuildJsRef("/Resources/scripts/pages/home/findpassword2.js")
    <style>
        .hide
        {
            display: none;
        }
    </style>
}
@section rsContent
{
<div id="header">
	<div class="wraper">
    	<a href="@BuildUrl("Web_Index")" class="logo inblock">全球购物</a>
		@*<span class="sublogo">找回密码</span>*@
		<a href="@BuildUrl("Home_Register")" class="taobao_link inblock">立即注册，马上成为全球购物会员</a>
    </div>
</div>
<!--headerCtner end-->
<div class="headerPlaceHolder"></div>
<div id="main">
  <div class="wraper">  	
@if (ViewBag.Step == "step1")
{   
      <div  id="step1" class="registerpanel forgetpwd">
      	<h1 class="reg_title">找回密码</h1>
        <div class="boxpanel">
          <div class="step_panel step_panel1">
          		<p class="inblock">步骤一</p>
          		<ul class="step_text">
                		<li class="step1">填写账户信息</li>
                     <li class="step2">验证身份</li>
                     <li class="step3">重置新密码</li>
                     <li class="step4">重置完成</li>
                </ul>
          </div>
          <div class="login-form reg-form"><div class="c">
                    <ul>
                    		<li class="inputli">
                                <label  for="input_account_name"><span class="size3t4">账户名</span>：</label>
                                <input id="input_account_name" type="text" class="intxt" />
                                <label for="input_account_name" class="hover_text">请输入账户名</label>
                                 <p class="error" style="display:none;"></p>
                            </li>
                            
                        <li class="inputli cls mt15 validcodeli">
                            <label  for="input_validcode"><span class="size3t4">验证码</span>：</label>
                            <input id="input_validcode" autocorrect="off" spellcheck="false" autocapitalize="off" name="validCode" type="text" class="intxt fl"  style="width:76px;"/>
                            <a class="fl validcode" href="javascript:Biz.Customer.FindPassword.refreshValidator('#imgValidator','#ValidatedCode');"><img width="102" height="50" src='/Home/ImageValidator' alt="" id="imgValidator" ref1='/Home/ImageValidator' /></a>
                            <a class="fl ml10" href="javascript:Biz.Customer.FindPassword.refreshValidator('#imgValidator','#ValidatedCode');">换一张</a> 
                            <p class="error" style="display:none;"></p>                            
                        </li>
                        
                        
                    </ul>
                    <div class="opt findpwd_opt">
                        <a class="btn_fdpwd_next inblock" href="javascript:Biz.Customer.FindPassword.CheckStepOne();">下一步</a>
                    </div>
                </div></div>
			
        </div>
      </div>      
	  <div  id="step2" class="registerpanel forgetpwd hide" style="display:none;">
      	<h1 class="reg_title">找回密码</h1>
        <div class="boxpanel">
          <div class="step_panel step_panel2">
          		<p class="inblock">步骤二</p>
          		<ul class="step_text">
                		<li class="step1">填写账户信息</li>
                     <li class="step2">验证身份</li>
                     <li class="step3">重置新密码</li>
                     <li class="step4">重置完成</li>
                </ul>
          </div>
          <div class="login-form reg-form tc">
          	<div class="findsuc">
              	<h2>您的密码邮件已发送到下列地址，请查收邮件</h2>
                  <strong></strong>
                  <s class="suc">请您<a class="link" href="">登录邮箱</a>完成验证</s>
                  <!--<dl class="invoiceCtner">
                      <dd>
                        <span class="Validform_wrong Validform_checktip regWrong">(密码有效期为30分钟，提醒用户需要修改密码)</span>
                      </dd>
                  </dl>-->
              </div>
          </div>
			
        </div>
      </div>
}
else if (ViewBag.Step == "step2")
  {
      <div id="step21" class="registerpanel forgetpwd">
      	<h1 class="reg_title">找回密码</h1>
        <div class="boxpanel">
          <div class="step_panel step_panel3">
          		<p class="inblock">步骤三</p>
          		<ul class="step_text">
                		<li class="step1">填写账户信息</li>
                     <li class="step2">验证身份</li>
                     <li class="step3">重置新密码</li>
                     <li class="step4">重置完成</li>
                </ul>
          </div>
          <div class="login-form reg-form"><div class="c">
              @if (ViewBag.Message != null)
                          {
                              <div style="text-align:center;color:Red;font-size:14px;">@ViewBag.Message</div>
                          }
                          else
                          {
                    <ul>
                    		<li class="inputli">
                                <label>设置密码：</label>
                                <input id="intxt_password" type="password" class="intxt" />
                                <label for="intxt_password" class="hover_text">6-20个英文字母与数字的混合,可包含符号</label>
                                 <p class="error" style="display:none;"></p>
                                
                                
                            </li>
                        <li class="inputli mt15">
                                <label>确认密码：</label>
                                <input id="intxt_password_c" type="password" class="intxt" />
                                <label for="intxt_password_c" class="hover_text">请再次输入密码</label>
                                 <p class="error" style="display:none;"></p>
                                
                            </li>
                        
                        
                    </ul>
                    <div class="opt findpwd_opt">
                        <a class="btn_fdpwd_next inblock"  href="javascript:Biz.Customer.FindPassword.ResetPassword();">下一步</a>
                    </div>
              }
                </div></div>
			
        </div>
      </div>      
	  <div id="step22" class="registerpanel forgetpwd hide" style="display:none;">
      	<h1 class="reg_title">找回密码</h1>
        <div class="boxpanel">
          <div class="step_panel step_panel4">
          		<p class="inblock">步骤四</p>
          		<ul class="step_text">
                		<li class="step1">填写账户信息</li>
                     <li class="step2">验证身份</li>
                     <li class="step3">重置新密码</li>
                     <li class="step4">重置完成</li>
                </ul>
          </div>
          <div class="login-form reg-form tc">
          	<div class="findsuc">
              	<h2>重新设置密码成功</h2>
                  
                  <s class="suc">欢迎来全球购物，您现在可以进入<a class="link" href="@BuildUrl("Web_Index")">全球购物首页</a>或者<a class="link" href="@BuildUrl("Member_Index")">我的账户</a></s>
                  <!--<dl class="invoiceCtner">
                      <dd>
                        <span class="Validform_wrong Validform_checktip regWrong">(密码有效期为30分钟，提醒用户需要修改密码)</span>
                      </dd>
                  </dl>-->
              </div>
          </div>
			
        </div>
      </div>  
}
  </div>
</div>
}
