@{
    ViewBag.Title = "注册成功";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section rsHeader{
    @BuildCssRef("/Resources/themes/default/css/logreg.css")
}
@section rsContent{
    <div id="main">
	<div class="wraper">
        <div class="main cls">
        	<div class="crumb"><a href="@BuildUrl("Web_Index")">首页</a><b>&gt;</b><strong>注册成功</strong></div>
        	<div class="boxD">
		    	<div class="findsuc" style="width:500px;">
              	  <h2><strong class="orange">恭喜，您已成功注册全球购物网站！</strong></h2>
                  
				  <div class="extra">
						<p class="mt10">
	                        <a href="@BuildUrl("Web_Index")" class="blue mr20">返回首页购物&gt;&gt;</a>                        
	                        <a href="@BuildUrl("Member_Index")" class="blue mr20">完善个人信息&gt;&gt;</a>	                       
                        </p>
					</div>
                  <s class="suc"></s>
				  <div class="mt30">
				  		<strong>请完成账户安全验证</strong>
						<p style="font-size:12px;">验证邮箱可帮助您快速找回密码，并可以方便接收优惠信息，促销活动，降价提醒等消息。</p>
				 
				 		
						<div class="box-veri cls mt15">
							<div class="item cls fl">
								<s class="icon icon-mail fl mt5 mr5"><img src="/Resources/themes/default/Nest/img/icon_mail.png" /></s>
								<div class="fl">
									<strong>邮箱验证</strong>
									<p style="font-size:12px;"><a class="blue" href="@BuildUrl("Member_CustomerInfo")">现在完成验证&gt;&gt;</a></p>
								</div>
							</div>
						</div>
				  </div>
                  
              </div>
		    </div>
            
        </div>
        
    </div>
</div>
}