@using System.Collections.Specialized;
@using ECommerce.Facade
@model ECommerce.Entity.PageInfo

@{
    
    int pPAGENUMDELTE = 1;
    int nPAGENUMDELTE = 1;

    string pageNavCss = ViewData["PageNavCss"] != null ? ViewData["PageNavCss"].ToString() : "pageNav tr p10";
    string pagerID = ViewData["PagerID"] != null ? ViewData["PagerID"].ToString() : "PagerID";

}

<div id="@pagerID" class="@pageNavCss">
    <a class="pre @(Model.PageIndex <= 1 ? "preDisable" : "")" href="@(Model.PageIndex <= 1 ? "javascript:;" : SearchPageFacade.BuildQueryString(Request.QueryString, SearchPageFacade.PageNumber, Model.PageIndex - 1))"><span>@GetText("上一页")</span></a>

    @if (Model.PageIndex - pPAGENUMDELTE > 1)
    {
        <a href="@SearchPageFacade.BuildQueryString(Request.QueryString, SearchPageFacade.PageNumber, 1)"><span>1</span></a>
        
        if (Model.PageIndex > pPAGENUMDELTE + 2)
        {
        <ins>...</ins>
        }

        for (int i = Model.PageIndex - pPAGENUMDELTE; i < Model.PageIndex; ++i)
        {
        <a href="@SearchPageFacade.BuildQueryString(Request.QueryString, SearchPageFacade.PageNumber, i)"><span>@i</span></a>
        }
    }
    else
    {
        if (Model.PageIndex != 1)
        {
        <a href="@SearchPageFacade.BuildQueryString(Request.QueryString, SearchPageFacade.PageNumber, 1)"><span>1</span></a>
        }

        for (int i = 2; i < Model.PageIndex; ++i)
        {
        <a href="@SearchPageFacade.BuildQueryString(Request.QueryString, SearchPageFacade.PageNumber, i)"><span>@i</span></a>
        }
    }

    <a href="javascript:void(0)" class="curr"><span>@Model.PageIndex</span></a>

    @if (Model.PageIndex + nPAGENUMDELTE <= Model.PageCount - 2)
    {
        for (int i = Model.PageIndex + 1; i <= Model.PageIndex + nPAGENUMDELTE; ++i)
        {
        <a href="@SearchPageFacade.BuildQueryString(Request.QueryString, SearchPageFacade.PageNumber, i)"><span>@i</span></a>
        }

        if (Model.PageIndex < Model.PageCount - (nPAGENUMDELTE + 1))
        {
        <ins>...</ins>
        }
        
        <a href="@SearchPageFacade.BuildQueryString(Request.QueryString, SearchPageFacade.PageNumber, Model.PageCount)"><span>@Model.PageCount</span></a>
    }
    else
    {
        for (int i = Model.PageIndex + 1; i <= Model.PageCount - 1; ++i)
        {
        <a href="@SearchPageFacade.BuildQueryString(Request.QueryString, SearchPageFacade.PageNumber, i)"><span>@i</span></a>
        }

        if (Model.PageIndex != Model.PageCount && Model.PageCount > 0)
        {
        <a href="@SearchPageFacade.BuildQueryString(Request.QueryString, SearchPageFacade.PageNumber, Model.PageCount)"><span>@Model.PageCount</span></a>
        }
    }

    <a class="next @(Model.PageIndex >= Model.PageCount ? "nextDisable" : "")" href="@(Model.PageIndex >= Model.PageCount ? "javascript:;" : SearchPageFacade.BuildQueryString(Request.QueryString, SearchPageFacade.PageNumber, Model.PageIndex + 1))"><span>@GetText("下一页")</span></a>
    @*<span class="pageTotal">@GetText("共")<strong style="margin: 0 5px;">@(Model.PageCount <= 0 ? 1 : Model.PageCount)</strong>@GetText("页")</span>*@
    <span class="pageTo">@GetText("到第")</span>
    <input type="text" id="setShowPageNav" class="intxt hasDefaultText pager-goto-txt" value="@Model.PageIndex" tip="@Model.PageIndex" />
    <span class="pageYe">@GetText("页")</span>&nbsp;
    <a class="conf pager-goto-btn" id="conf1" href="javascript:;"><span>@GetText("确定")</span></a>

</div>

<script type="text/javascript">
    (function () {
        $("#@pagerID").find(".pager-goto-txt").bind('keydown', function (e) {
            var key = e.which;
            if (key == 13) {
                $("#@pagerID").find(".pager-goto-btn").click();
            }
        });

        $("#@pagerID").find(".pager-goto-btn").click(function () {
            var txt = $("#@pagerID").find(".pager-goto-txt");
            var url = "@Html.Raw(Request.Url.ToString())";
            var pageCount = @(Model.PageCount <= 0 ? 1 : Model.PageCount);
            var page = parseInt(txt.val());
            if (isNaN(page) || parseInt(page)> pageCount || parseInt(page) < 1) {
                txt.val('1')
                page = 1;
            }
            if(/\page=(\d+)/.test(url))
            {
                url = url.replace(/\page=(\d+)/, "page=" + page);
            }
            else
            {
                if(url.indexOf('?')>0) {
                    url = url+ "&page=" + page;
                }else{
                    url = url+ "?page=" + page;
                }
            }
            window.location.href = url;
            return false;
        });
    })();
</script>
