@using ECommerce.WebFramework
@using ECommerce.Web
@using ECommerce.Enums
@section headers
{
    @Styles.Render("~/Content/plugin/bootstrapValidator/css")
    @Styles.Render("~/Content/plugin/datetimepicker/css")
    @Styles.Render("~/Content/plugin/select/css")
    @Styles.Render("~/Content/plugin/datatables/css")
}
@section scripts
{
    @Scripts.Render("~/Content/plugin/bootstrapValidator/js")
    @Scripts.Render("~/Content/plugin/datetimepicker/js")
    @Scripts.Render("~/Content/plugin/select/js")
    @Scripts.Render("~/Content/plugin/datatables/js")

    <script type="text/javascript">
        var ComponentsPickers = function () {

            var handleDatePickers = function () {
                if (jQuery().datepicker) {
                    $('.date-picker').datepicker({
                        rtl: Metronic.isRTL(),
                        orientation: "left",
                        autoclose: true,
                        clearBtn: true
                    });
                    //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal 
                }
            }

            var handleDateRangePickers = function () {
                if (!jQuery().daterangepicker) {
                    return;
                }
                $(".date-range").defaultDateRangePicker();
            }

            return {
                //main function to initiate the module 
                init: function () {
                    handleDatePickers();
                    handleDateRangePickers();
                }
            };

        }();
    </script>
    <script>
        var ComponentsDropdowns = function () {

            var handleBootstrapSelect = function () {
                $('.bs-select').selectpicker({
                    iconBase: 'fa',
                    tickIcon: 'fa-check',
                    noneSelectedText: ''
                });
            }
            return {
                init: function () {
                    handleBootstrapSelect();
                }
            };

        }();
    </script>
    <script>
        jQuery(document).ready(function () {

            ComponentsPickers.init();
            ComponentsDropdowns.init();
            var queryGrid = new Datatable();
            queryGrid.init({
                src: $("#resultGrid"),
                dataTable: {
                    "columns": [
                        { "orderable": false },
                        { "mData": "poid", "orderable": true },
                        { "mData": "StatusName", "orderable": true },
                        { "mData": "stockname", "orderable": false },
                        {
                            "mData": "createtime", "orderable": true,
                            "mRender": function (data, type, row) {
                                var m = moment(row.createtime);
                                if (m.isValid()) {
                                    return m.format("@ECommerce.WebFramework.JavascriptFormatString.MomentDateTime");
                                }
                                return "";
                            }
                        },
                        //{ "mData": "ApportionUserName", "orderable": true },
                        { "mData": "auditname", "orderable": false },
                        {
                            "mData": "audittime", "orderable": false,
                            "mRender": function (data, type, row) {
                                var m = moment(row.audittime);
                                if (m.isValid()) {
                                    return m.format("@ECommerce.WebFramework.JavascriptFormatString.MomentDateTime");
                                }
                                return "";
                            }
                        },
                        {
                            "mData": "intime", "orderable": false,
                            "mRender": function (data, type, row) {
                                var m = moment(row.intime);
                                if (m.isValid()) {
                                    return m.format("@ECommerce.WebFramework.JavascriptFormatString.MomentDateTime");
                                }
                                return "";
                            }
                        },
                        { "mData": "PreCount", "orderable": false },
                        { "mData": "AllPrePurchaseQty", "orderable": false },
                        { "mData": "AllPurchaseQty", "orderable": false },
                        { "mData": "QtyCount", "orderable": false },
                        { "mData": "AllQuantity", "orderable": false },
                    ],
                    //自定义列显示样式，指定排序字段
                    "columnDefs": [
                       {
                           "render": function (data, type, row) {
                               return '<a href="/ProductPurchase/Maintain?SysNo=' + row.sysno + '" id="btnEdit_' + row.sysno + '">@GetText("编辑")</a>';
                           },
                           "targets": 0
                       },
                       { "name": "po.status", "targets": 2 },
                       { "name": " po.createtime", "targets": 4 },
                       {
                           "render": function (data, type, row) {
                               return Number(row.PreCount).toFixed(2);
                           },
                           "targets": 8
                       }
                    ],
                    "ajax": {
                        "url": "/ProductPurchase/Query",
                        "type": "POST"
                    },
                    //默认排序
                    "order": [[1, "desc"]]
                }
            });

            var $condForm = $("#queryForm").bootstrapValidator().on('success.field.bv', function (e, data) {
                var $parent = data.element.parents('.form-group');
                // Remove the has-success class
                $parent.removeClass('has-success');
                // Hide the success icon
                $parent.find('.form-control-feedback[data-bv-icon-for="' + data.field + '"]').hide();
            }),
            bootstrapValidator = $condForm.data('bootstrapValidator');

            $("#btnSearch").click(function () {
                bootstrapValidator.validate();
                if (bootstrapValidator.isValid()) {
                    queryGrid.clearAjaxParams();
                    var queryFilter = $.buildEntity($("#queryForm"));
                    if (queryFilter.Status == -999) {
                        queryFilter.Status = null;
                    }
                    queryFilter.ProductSysNo = $("#searchProductNo_SysNo").val();
                    queryGrid.addAjaxParam("queryfilter", $.toJSON(queryFilter));
                    queryGrid.getDataTable().ajax.reload();
                }
            });
            $("#btnReset").click(function () {
                bootstrapValidator.resetForm(true);
                $('.bs-select').val(-999).selectpicker("refresh");
                $(".date-range").daterangepicker("clear");
                cleartSelProduct_SysNo();
            })
            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    rtl: Metronic.isRTL(),
                    orientation: "right",
                    autoclose: true,
                    language: "zh-CN"
                });
            }
        });
    </script>
}


<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-search"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">@GetText("查询条件")</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal" id="queryForm">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("采购单编号")</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" data-model="POSysNo" name="POSysNo"
                                         data-bv-digits="true" data-bv-digits-message='@GetText("采购单编号格式不正确")'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("采购单状态")</label>
                                    <div class="col-md-8">
                                        <select class="bs-select form-control" data-model="Status" style="display: none;" name="Status">
                                            @{
                                                foreach (var item in EnumUIHelper.GetKeyValuePairs<PurchaseOrderStatus>(EnumAppendItemType.All))
                                                {
                                                <option value="@(item.Key.HasValue ? (int)item.Key : -999)">@item.Value</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("商品ID")</label>
                                    <div class="col-md-8">
                                        @Html.Partial("~/Views/UserControls/ProductSingleSelector.cshtml", new object(), new ViewDataDictionary { { "ID", "SysNo" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("创建日期")</label>
                                    <div class="col-md-8">
                                        <div class="btn default date-range" style="padding-left: 6px; padding-right: 10px">
                                            <span>&nbsp;</span>
                                            <div style="display: none;">
                                                <input type="text" data-model="CreateTimeBegin" name="CreateTimeBegin" class="date-start" />
                                                <input type="text" data-model="CreateTimeTo" name="CreateTimeTo" class="date-end" />
                                            </div>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("入库时间")</label>
                                    <div class="col-md-8">
                                        <div class="btn default date-range" style="padding-left: 6px; padding-right: 10px">
                                            <span>&nbsp;</span>
                                            <div style="display: none;">
                                                <input type="text" data-model="InStockFrom" name="InStockFrom" class="date-start" />
                                                <input type="text" data-model="InStockTo" name="InStockTo" class="date-end" />
                                            </div>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("仓库")</label>
                                    <div class="col-md-8">
                                        @{
                                            var stockList = ECommerce.Service.ControlPannel.StockService.QueryStock(
                                        new ECommerce.Entity.ControlPannel.StockQueryFilter()
                                        {

                                            ContainKJT = true,
                                            MerchantSysNo = UserAuthHelper.GetCurrentUser().SellerSysNo,
                                            Status = StockStatus.Actived,
                                            StockType = TradeType.FTA,
                                            PageSize = 100
                                        });
                                            <select class="bs-select form-control" style="display: none;" data-model="StockSysNo">
                                                @if (stockList != null && stockList.ResultList != null)
                                                {
                                                    <option value="">@ECommerce.WebFramework.EnumAppendItemType.Select.GetEnumDescription()</option>
                                                    foreach (var item in stockList.ResultList)
                                                    {
                                                    <option value="@(item.SysNo)">@item.StockName</option>
                                                    }
                                                }
                                            </select>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn yellow margin-bottom" id="btnSearch">
                            <i class="fa fa-search"></i>&nbsp;@GetText("查询")</button>
                        <button type="button" class="btn default margin-bottom" id="btnReset">
                            <i class="fa fa-refresh"></i>&nbsp;@GetText("重置")</button>
                    </div>
                </div>
            </div>
            <!-- END FORM-->
        </form>
    </div>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-shopping-cart"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">@GetText("查询结果")</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
        @*<div class="actions">
            <a href="/ProductPurchase/New" class="btn btn-primary btn-sm">
                <i class="fa fa-plus"></i>
                @GetText("添加")</a>
        </div>*@
    </div>
    <div class="portlet-body form">
        <table class="table table-striped table-bordered table-hover" id="resultGrid">
            <thead>
                <tr>
                    <th scope="col" width="6%">@GetText("操作")</th>
                    <th scope="col">@GetText("编号")
                    </th>
                    <th scope="col" width="6%">@GetText("状态")
                    </th>
                    <th scope="col" width="8%">@GetText("所在仓库")
                    </th>
                    <th scope="col">@GetText("创建时间")
                    </th>
                    <th scope="col">@GetText("审核人")
                    </th>
                    <th scope="col">@GetText("审核时间")
                    </th>
                    <th scope="col">@GetText("入库时间")
                    </th>
                    <th scope="col">@GetText("计划采购总价")</th>
                    <th scope="col">@GetText("计划采购总数量")</th>
                    <th scope="col">@GetText("入关数量")</th>
                    <th scope="col">@GetText("入库总价")</th>
                    <th scope="col">@GetText("入库总数量")</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@*控制面板页面*@
<div class="navbar-default navbar-fixed-bottom function-pannel" role="navigation">
    <div class="row">
        <div class="col-md-12">
            <a href="/ProductPurchase/New" target="_blank">
                <button id="btnCreate" class="btn btn-primary" type="button"   >新建泰隆优选自贸采购单<i class="fa fa-edit"></i></button></a>
        </div>
    </div>
</div>
