@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/Content/plugin/bootstrapValidator/js")
    @ECommerce.WebFramework.LanguageHelper.SetJSResource();
    <script type="text/javascript">
        $(function () {
            $('#defaultForm').bootstrapValidator().on("success.form.bv", function (e) {
                $.ajax({
                    type: "POST",
                    url: "user/ChangePasswordData",
                    data: "pwd=" + $("#txtpwd").val() + "&old=" + $("#txtOld").val(),
                    dataType: "json",
                    success: function (response) {
                        if (!response) {
                            alert("操作成功!");
                            $(".close").click();
                        }
                    }
                });
            });
            $("#btnSubmit").click(function () {
                $("#defaultForm").bootstrapValidator("validate");
            });
            $("#btnRest").click(function () {
                $("#defaultForm").bootstrapValidator("resetForm");
            });
        });
    </script>
}
<form id="defaultForm" method="post" class="form-horizontal bv-form">
    <div class="form-group">
        <label class="col-md-2 control-label">请输入原密码:</label>
        <div class="col-md-3">
            <input type="password" id="txtOld" class="form-control" placeholder="" data-role="oldPassword" name="oldPassword" data-bv-notEmpty="true" data-bv-notEmpty-message="@GetText("请输入原密码")" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">请输入新密码:</label>
        <div class="col-md-3">
            <input id="txtpwd" type="password" class="form-control" placeholder="" data-role="password"  name="password" data-bv-notEmpty="true" data-bv-notEmpty-message="@GetText("请输入新密码")" >
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">再次输入新密码:</label>
        <div class="col-md-3">
            <input type="password" class="form-control" placeholder=""  name="confirmPassword" data-bv-notEmpty="true" data-bv-notEmpty-message="@GetText("请再次输入新密码")"  data-bv-identical="true" data-bv-identical-field="password" data-bv-identical-message="@GetText("两次输入的密码不一致")">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <a class="btn green" id="btnSubmit">
                <i class="fa fa-check"></i>
                提交
            </a>
            <button type="reset" class="btn default" id="btnRest">重置</button>
        </div>
    </div>
</form>
