@{
    ViewBag.Title = "ViewCommissionLogDetail";
    Layout = null;
}

<div class="modal-header" style="background-color: #4b8df8;">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
    </button>
    <h4 class="modal-title">明细</h4>
</div>
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.StatisticalInformation</div>
    <div class="panel-body">
        <!--销售提成-->
        @if (ViewBag.SACData != null)
        {
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr role="row" class="heading">
                        <th>序号
                        </th>
                        <th>单据编号
                        </th>
                        <th>单据类型
                        </th>
                        <th>创建时间
                        </th>
                        <th>商品编号
                        </th>
                        <th>商品名称
                        </th>
                        <th>数量
                        </th>
                        <th>销售单价(元)
                        </th>
                        <th>优惠券金额(元)
                        </th>
                        <th>销售合计(元)
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (ECommerce.Entity.Invoice.CommissionItemLogDetailInfo item in ViewBag.SACData)
                    {
                        <tr>
                            <td style="text-align: center">@item.SN
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.ReferenceSysNo
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.ReferenceTypeDesc
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.InDate
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.ProductID
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.ProductName
                                &nbsp;
                            </td>
                            <td style="text-align: right">@item.Qty
                                &nbsp;
                            </td>
                            <td style="text-align: right">@item.Price
                                &nbsp;
                            </td>
                            <td style="text-align: right">@item.PromotionDiscountDesc
                                &nbsp;
                            </td>
                            <td style="text-align: right">@item.TotalAmt
                                &nbsp;
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        <!--订单提成-->
        @if (ViewBag.SOCData != null)
        {
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr role="row" class="heading">
                        <th>序号
                        </th>
                        <th>单据编号
                        </th>
                        <th>单据类型
                        </th>
                        <th>创建时间
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ECommerce.Entity.Invoice.CommissionItemLogDetailInfo item in ViewBag.SOCData)
                    {
                        <tr>
                            <td style="text-align: center">@item.SN
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.ReferenceSysNo
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.ReferenceTypeDesc
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.InDate
                                &nbsp;
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <!--运费-->
        @if (ViewBag.DEFData != null)
        {
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <thead>
                        <tr role="row" class="heading">
                            <th>序号
                            </th>
                            <th>单据编号
                            </th>
                            <th>单据类型
                            </th>
                            <th>创建时间
                            </th>
                        </tr>
                    </thead>
                </thead>
                <tbody>

                    @foreach (ECommerce.Entity.Invoice.CommissionItemLogDetailInfo item in ViewBag.DEFData)
                    {
                        <tr>
                            <td style="text-align: center">@item.SN
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.ReferenceSysNo
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.ReferenceTypeDesc
                                &nbsp;
                            </td>
                            <td style="text-align: center">@item.InDate
                                &nbsp;
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

