@{
    ViewBag.Title = "我的礼品卡";
    Layout = "~/Views/Shared/_Main.cshtml";

    List<GiftCardProductInfo> result = GiftCardFacade.QueryGiftCardProductInfo();
    result.Count();
}

@using ECommerce.Entity.Product;
@using ECommerce.Facade.GiftCard;

@section rsHeader
{
@BuildCssRef("/Resources/themes/default/css/account.css")
@BuildCssRef("/Resources/themes/default/css/gift.css")

@*@BuildCssRef("/Resources/themes/default/css/innerPage.css")*@
}

@section rsContent
{
   <div class="topbanner">
    	<div class="wraper">
        	<div class="inner">
            	<div class="topbanner_img"><h1>GIFT CARD 全球购物礼品卡</h1></div>        		
            </div>
        </div>
    </div>


  	<div class="wraper">
        <div class="main cls">
		
        	<div class="card_section_box card_brief_box mb15">
				<div class="top_border ie6png"></div>
				<div class="middle_body">
					<table border="0" cellspacing="0" cellpadding="0">
							<tr>
									<td width="310" align="left"><img src="/Resources/themes/default/Nest/img/img_card_big.jpg" /></td>
									<td>
										<ul class="textlist">
											<li>礼品卡用于购买全球购物网站销售的所有商品；</li>
											<li>可抵扣商品金额和运费，不能抵扣税；</li>
											<li>可与其它优惠同时享用；</li>
											<li>本卡不可折现找零。</li>
										</ul>
									</td>
							</tr>
					</table>
					
				</div>
				<div class="bottom_border ie6png"></div>
            </div>
			
			<div class="card_section_box mb15">
				<div class="top_border ie6png"></div>
				<div class="middle_body">
					<div class="selectAll">
						<input class="ckbox" id="checkAllGiftCard" type="checkbox" /><label for="ckbox_selectAll" class="ckbox_txt orange">勾选全部礼品卡</label>
					</div>
					<div class="cardlistWrap">
						<ul class="cardlist cls">
                            @for(int i=0;i<result.Count;i++)
                            {
							<li>
								<div class="inner">
								<span class="selectSingle"><input class="ckbox" id="checkGiftCard_@i" type="checkbox" productSysNo="@result[i].SysNo" /><label for="ckbox_select_1" class="ckbox_txt">选择</label></span>
								<p class="img"><span class="priceInCard">&yen;@result[i].CurrentPrice.ToString("f2")</span><img src="/Resources/themes/default/Nest/img/img_card_small.jpg" /></p>
								<p class="priceForSale">大昌价：&yen;@result[i].CurrentPrice.ToString("f2")</p>
								</div>
							</li>
                            }
						</ul>
						<div class="cardBtnLine"><div class="inner"><a class="btn_buy" href="###" id="SubmitBuyGiftCard">立即购买</a><a class="btn_buy_disabled" id="SubmitBuyGiftCard_disabled" href="###">立即购买</a></div></div>
					</div>
					
				</div>
				<div class="bottom_border ie6png"></div>
            </div>
			
			<div class="card_section_box card_intro_box mb15">
				<div class="top_border ie6png"></div>
				<div class="middle_body">
					<h2>全球购物礼品卡介绍</h2>
					<h3>全球购物礼品卡购买须知</h3>
					<ul class="textlist">
						<li>1). 您可以在全球购物礼品卡页面购买。</li>
						<li>2). 礼品卡购买不支持货到付款，全球购物会在收到款后发货；</li>
						<li>3). 购买礼品卡成功后，我们会尽快发货。卡片状态余额等信息，您可在"我的全球购物"—"我的礼品卡"中随时查询。如需发票，请您在购买过程中勾选"普通发票"，发票将以平邮的方式邮寄给您；</li>
						<li>4). 礼品卡不能与其它商品同时购买，即购买礼品卡需要单独下单；</li>
					</ul>
					
					
					<h3>全球购物礼品卡使用规则</h3>
					<ul class="textlist">
						<li>1). 礼品卡可与全球购物帐户进行绑定，使用时可直接选择，已绑定的礼品卡只能被该帐号使用，不能跨帐户使用，且已绑定的礼品卡不支持
     解除绑定功能；</li>
						<li>2). 礼品卡有效期为3年，可在有效期内多次使用，不能延期使用，礼品卡暂不支持充值；</li>
						<li>3). 用礼品卡可购买全球购物上的任何商品(第三方产品除外)，且可与其它优惠一起使用；</li>
						<li>4). 下单时，每笔订单可用多张礼品卡支付，购物金额不足的部分以现金补足或网上支付；多张礼品卡同时使用时，先输入的礼品卡优先使用；</li>
						<li>5). 礼品卡在销售时已开具发票给顾客，所以在购买商品时使用礼品卡支付的部分将不再开具发票；</li>
						<li>6). 礼品卡不记名、不挂失、不兑换现金、不退卡、不可修改密码；</li>
						<li>7). 使用礼品卡支付的订单若发生拒收或者退货，使用礼品卡支付的金额将自动退回到您的账户余额；</li>
						<li>8). 您可以登录全球购物网站"我的全球购物"—"我的礼品卡"页面查询礼品卡的卡号、余额、有效期，状态等使用情况。</li>
					</ul>
					<h3>全球购物礼品卡使用范围</h3>
					<p>全球购物礼品卡适用于全球购物网站，但不支持找零折现。</p>
					<h3>全球购物礼品卡常见问题</h3>
					<p>若在使用礼品卡过程中出现磁条消磁、停用等无法使用的情况，可拨打客服中心电话：<strong style="color:#4dad27">400-921-8899</strong>寻求帮助。</p>
				</div>
				<div class="bottom_border ie6png"></div>
            </div>

        </div>
    </div>

<script type="text/javascript">
$(function () {

    var SelectCount = @result.Count;
    var HasLogin = false;

    $('#SubmitBuyGiftCard').css("display","none");

    @if(UserMgr.HasLogin())
    {
        <Text> HasLogin = true </Text>
    }


    function checkSubmitBtnDisplay() 
    {
        for(var i=0;i<SelectCount;i++)
        {
            var checkGiftCard = "checkGiftCard_" + i;
            var obj = document.getElementById(checkGiftCard);
            if(obj.checked==true)
            {
                $('#SubmitBuyGiftCard').css("display","");
                $('#SubmitBuyGiftCard_disabled').css("display","none");
                return;
            }
        }
        $('#SubmitBuyGiftCard').css("display","none");
        $('#SubmitBuyGiftCard_disabled').css("display","");
    }

    for(var i=0;i<SelectCount;i++)
    {
        var checkGiftCard = "checkGiftCard_" + i;
        $("#" + checkGiftCard).click(function () {
           checkSubmitBtnDisplay();
        });
    }

    $("#checkAllGiftCard").click(function () 
    {
        for (var i = 0; i < SelectCount; i++) 
        {
            var checkGiftCard = "checkGiftCard_" + i;
            if(this.checked)
                $("#" + checkGiftCard).attr("checked",true);
            else
                $("#" + checkGiftCard).attr("checked",false);
        }
        checkSubmitBtnDisplay();
    })

    $("#SubmitBuyGiftCard").click(function () {
        BuyGiftCard() ;
    })

    function BuyGiftCard() 
    {
        if(!HasLogin)
        {
            location.href = "@string.Format("{0}?returnUrl={1}", BuildUrl("Login"), Request.Url.ToString()) ";
            return;
        }

        var IsHaveChecked = false;
        var products = [];

        for (var i = 0; i < SelectCount; i++) 
        {
            var checkGiftCard = "checkGiftCard_" + i;
            //Quantity = 'Quantity_' + i;

            if ($("#" + checkGiftCard).attr("checked") == "checked")
            {
                IsHaveChecked = true;
                var item = {
                    ProductSysNo: $("#" + checkGiftCard).attr("productSysNo"),
                    Quantity: 1
                };
                products.push(item);
            }
        }
        if (IsHaveChecked == false) {
            alert("请选择至少一张礼品卡");
            return false;
        }

        $.ajax({
            url: "/ShoppingPurchase/AjaxBuyGiftCard",
            type: "POST",
            dataType: "json",
            data: { data: $.toJSON(products) },
            success: function (data) {
                if (!data) {
                    location.href = '@(BuildUrl("CheckoutCard"))';
                }
            }
        });

    }
})
</script>
}
