@using ECommerce.Enums
@using ECommerce.WebFramework
@section headers
{
    @Styles.Render("~/Content/plugin/bootstrapValidator/css")
    @Styles.Render("~/Content/plugin/datetimepicker/css")
    @Styles.Render("~/Content/plugin/select/css")
    @Styles.Render("~/Content/plugin/datatables/css")
}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-search"></i>
            <span class="caption-subject font-red-sunglo uppercase">@GetText("查询条件")</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal" id="condForm">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("订单编号：")</label>
                                    <div class="col-md-8">
                                        <input type="text" data-model="SOSysNo" class="form-control" name="SOSysNo" maxlength="10"
                                            data-bv-digits data-bv-digits-message='@GetText("订单编号格式不正确")'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("订单日期：")</label>
                                    <div class="col-md-8">
                                        <div class="btn default date-range" style="padding-left: 6px; padding-right: 10px">
                                            <span>&nbsp;</span>
                                            <div style="display: none;">
                                                <input type="text" data-model="OrderDateFrom" name="OrderDateFrom" class="date-start" />
                                                <input type="text" data-model="OrderDateTo" name="OrderDateTo" class="date-end" />
                                            </div>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">@GetText("顾客帐号：")</label>
                                    <div class="col-md-7">
                                        <input type="text" data-model="CustomerID" class="form-control" name="CustomerID" maxlength="20">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("申请单号：")</label>
                                    <div class="col-md-8">
                                        <input type="text" data-model="RequestID" class="form-control" name="RequestID" maxlength="10"
                                            data-bv-regexp="true" data-bv-regexp-regexp="^R0[\d]{8}$" data-bv-regexp-message='@GetText("申请单号格式不正确")' >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("申请日期：")</label>
                                    <div class="col-md-8">
                                        <div class="btn default date-range" style="padding-left: 6px; padding-right: 10px">
                                            <span>&nbsp;</span>
                                            <div style="display: none;">
                                                <input type="text" data-model="RequestDateFrom" name="RequestDateFrom" class="date-start" />
                                                <input type="text" data-model="RequestDateTo" name="RequestDateTo" class="date-end" />
                                            </div>
                                              <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-5">@GetText("状态：")</label>
                                    <div class="col-md-7">
                                        <select class="bs-select form-control" data-model="Status" style="display: none;" name="Status">
                                            @{
                                                foreach (var item in EnumUIHelper.GetKeyValuePairs<RMARequestStatus>(EnumAppendItemType.All))
                                                {
                                                <option value="@(item.Key.HasValue ? (int)item.Key : -999)">@item.Value</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("商品编号：")</label>
                                    <div class="col-md-8">
                                        <input type="text" data-model="ProductSysNo" class="form-control" name="ProductSysNo" maxlength="10"
                                            data-bv-digits data-bv-digits-message='@GetText("商品编号格式不正确")'>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-4">@GetText("电话号码：")</label>
                                    <div class="col-md-8">
                                        <input type="text" data-model="ReceiverPhone" class="form-control" name="ReceiverPhone" maxlength="20"
                                            data-bv-regexp data-bv-regexp-regexp="^[0-9_\-]+$" data-bv-regexp-message='@GetText("电话号码格式不正确")'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn yellow margin-bottom" id="btnSearch">
                            <i class="fa fa-search"></i>&nbsp;@GetText("查询")</button>
                        <button type="button" class="btn default margin-bottom" id="btnReset">
                            <i class="fa fa-refresh"></i>&nbsp;@GetText("重置")</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-table"></i>
            <span class="caption-subject font-red-sunglo uppercase">@GetText("查询结果")</span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body form">
        <table class="table table-bordered table-hover" id="resultGrid">
            <thead>
                <tr>
                    <th width="2%">
                        <input type="checkbox" class="group-checkable">
                    </th>
                    <th>@GetText("申请单号")
                    </th>
                    @*<th>@GetText("退换货类型")
                    </th>*@
                    <th>@GetText("订单编号")
                    </th>
                    <th>@GetText("客户编号")
                    </th>
                    <th>@GetText("客户帐号")
                    </th>
                    <th>@GetText("收货人")
                    </th>
                    <th>@GetText("状态")
                    </th>
                    <th>@GetText("申请时间")
                    </th>
                    <th>@GetText("审核时间")
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="navbar-default navbar-fixed-bottom function-pannel" role="navigation">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn green btn-primary navbar-btn" action-name="RequestBatchValid">
                @GetText("审核通过")
            </button>
            <button type="button" class="btn red btn-warning navbar-btn" action-name="RequestBatchReject">
                @GetText("审核拒绝")
            </button>
            @*<button type="button" class="btn btn-success navbar-btn" action-name="RequestBatchReceive">
                @GetText("确认已收到退货")
            </button>*@
            <button type="button" class="btn btn-danger navbar-btn" action-name="RequestBatchAbandon">
                @GetText("作废")
            </button>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Content/plugin/bootstrapValidator/js")
    @Scripts.Render("~/Content/plugin/datetimepicker/js")
    @Scripts.Render("~/Content/plugin/select/js")
    @Scripts.Render("~/Content/plugin/datatables/js")
    <script type="text/javascript">
        var ComponentsPickers = function () {

            var handleDatePickers = function () {
                if (jQuery().datepicker) {
                    $('.date-picker').datepicker({
                        rtl: Metronic.isRTL(),
                        orientation: "left",
                        autoclose: true,
                        clearBtn: true
                    });
                    //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
                }
            }

            var handleDateRangePickers = function () {
                if (!jQuery().daterangepicker) {
                    return;
                }
                $(".date-range").defaultDateRangePicker();
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleDatePickers();
                    handleDateRangePickers();
                }
            };

        }();
    </script>
    <script>
        var ComponentsDropdowns = function () {

            var handleBootstrapSelect = function () {
                $('.bs-select').selectpicker({
                    iconBase: 'fa',
                    tickIcon: 'fa-check'
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleBootstrapSelect();
                }
            };

        }();
    </script>
    <script>
        var ComponentsGrid = function () {

            var grid = new Datatable();

            var init = function () {
                grid.init({
                    src: $("#resultGrid"),
                    dataTable: {
                        "serverSide": true,
                        "columns": [
                        { "orderable": false },
                        { "mData": "RequestID ", "orderable": true },
                        //{ "mData": "RequestType", "orderable": false },
                        { "mData": "SOSysNo", "orderable": true },
                        { "mData": "CustomerSysNo", "orderable": true },
                        { "mData": "CustomerID", "orderable": true },
                        { "mData": "ReceiveMan", "orderable": false },
                        { "mData": "Status", "orderable": true },
                        { "mData": "RequestTime", "orderable": true },
                        { "mData": "AuditTime", "orderable": true }
                        ],
                        "columnDefs": [
                        //CheckBox:
                       {
                           "render": function (data, type, row) {
                               return '<input type="checkbox" value="' + row.SysNo + '" />';
                           },
                           "targets": 0
                       },
                       {
                           "render": function (data, type, row) {
                               return '<a href="RequestOrderDetail?SysNo=' + row.SysNo + '" target="_blank">' + row.RequestID + '</a>';
                           },
                           "targets": 1
                       },
                       {
                           "render": function (data, type, row) {
                               return '<a href="/SO/Detail?SOSysNo=' + row.SOSysNo + '" target="_blank">' + row.SOSysNo + '</a>';
                           },
                           "name": "request.SOSysNo",
                           "targets": 2
                       },
                       {
                           "name": "request.CustomerSysNo", "targets": 3
                       },
                       {
                           "name": "request.CustomerID", "targets": 4
                       },
                       {
                           "name": "request.ReceiveMan", "targets": 5
                       },
                       {
                           "name": "request.Status", "targets": 6
                       },
                       {
                           "name": "request.RequestTime", "targets": 7,
                           "render": function (data, type, row) {
                               var m = moment(row.RequestTime);
                               if (m.isValid()) {
                                   return m.format("YYYY-MM-DD HH:mm");
                               }
                               return "";
                           }
                       },
                       {
                           "name": "request.AuditTime", "targets": 8,
                           "render": function (data, type, row) {
                               var m = moment(row.AuditTime);
                               if (m.isValid()) {
                                   return m.format("YYYY-MM-DD HH:mm");
                               }
                               return "";
                           }
                       }
                       ],
                       "pageLength": 10, // default record count per page
                       "ajax": {
                           "url": "/RMA/RequestOrderQuery",
                           "type": "POST"
                       },
                       //默认排序
                       "order": [[1, "desc"]]
                    }
                });
            }

            function reloadGrid() {
                grid.clearAjaxParams();
                var queryFilter = $.buildEntity($("#condForm"));
                if (queryFilter.Status == "-999") {
                    queryFilter.Status = null;
                }
                grid.addAjaxParam("queryfilter", $.toJSON(queryFilter));
                grid.getDataTable().ajax.reload();
            }

            function getSelectRows() {
                return grid.getSelectedRows();
            }

            return {
                init: init,
                reload: reloadGrid,
                getSelectRows: getSelectRows
            };

        }();
    </script>
    <script type="text/javascript">
        var RMARequstManager = {
            init: function () {
                var $conForm = $('#condForm').bootstrapValidator().on('success.field.bv', function (e, data) {
                    var $parent = data.element.parents('.form-group');
                    // Remove the has-success class
                    $parent.removeClass('has-success');
                    // Hide the success icon
                    $parent.find('.form-control-feedback[data-bv-icon-for="' + data.field + '"]').hide();
                }),
                bootstrapValidator = $conForm.data('bootstrapValidator');

                $conForm.on("success.form.bv", function (e) {
                    ComponentsGrid.reload();
                });
                $("#btnSearch").click(function () {
                    bootstrapValidator.validate();
                })
                $("#btnReset").click(function () {
                    bootstrapValidator.resetForm(true);
                    $('.bs-select').val(-999).selectpicker("refresh");
                    $(".date-range").daterangepicker("clear");
                })
                $(document).on("click", "[action-name]", function () {
                    var action = $(this).attr("action-name");
                    var selectedRows = ComponentsGrid.getSelectRows();
                    if (!selectedRows || selectedRows.length <= 0) {
                        $.alert('@GetText("请选择要操作的记录")');
                        return;
                    }
                    $.ajax({
                        type: 'post',
                        url: action,
                        data: { SysNoList: $.toJSON(selectedRows) },
                        dataType: "json",
                        success: function (result) {
                            if (!result.error) {
                                $.alert(result.Data);
                                ComponentsGrid.reload();
                            }
                        }
                    });
                })
            }
        }
    </script>
    <script>
        jQuery(document).ready(function () {
            ComponentsPickers.init();
            ComponentsDropdowns.init();
            ComponentsGrid.init();
            RMARequstManager.init();
        });
    </script>
}