@model ECommerce.Facade.Shopping.CheckOutResult
<div id="data">
    <div id="cart_errorlist">
        @Html.Partial("_ErrorListPanel", Model)
    </div>
    <div id="cart_productlist">
        @Html.Partial("_CartProductListPanel", Model)
    </div>
    <div id="checkout_summary">
        @Html.Partial("_SummaryPanel", Model)
    </div>
    <div id="checkout_applycoupon">
        @Html.Partial("_ApplyCouponPanel", Model)
    </div>
    <div id="checkout_usePointPay">
        @Html.Partial("_UsePointPayPanel", Model)
    </div>
    <div id="CheckoutTotalAmount">
        @Html.Partial("_TotalAmountPanel", Model)
    </div>
</div>