@{
    ViewBag.Title = "邮箱验证成功";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section rsHeader{
    @BuildCssRef("/Resources/themes/default/css/global.css")
    @BuildCssRef("/Resources/themes/default/css/logreg.css")
}
@section rsContent
{
    <div class="wraper">
        <div class="crumb"><a href="@BuildUrl("Web_Index")">首页</a><b>&gt;</b><strong>邮件验证</strong></div>
        <div class="main cls">
            <div class="boxD">
                <div class="findsuc" style="width:450px;">
                    @if (ViewBag.Message == "s")
                    {
                        <h2>恭喜您，邮箱验证成功！</h2>
                        <p>您的邮箱地址已验证成功，感谢您注册全球购物！</p>
                        <s class="suc"></s>
                        <div class="extra mt15">
                            <strong>您现在可以：</strong>
                            <p class="mt10">
                                <a href="/" class="blue mr10">返回首页继续购物</a>
                                <a href="@BuildUrl("Member_Index")" class="blue mr10">查看我的全球购物</a>
                                <a href="@BuildUrl("ServiceCenter")" class="blue mr10">查看帮助中心</a>
                                @*<a href="@BuildUrl("HelpContent", 207)" class="blue mr10">新手常见问题</a>*@
                            </p>
                        </div>
                    }
                    else
                    {
                        <h2>@ViewBag.Message</h2>
                    }
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () { $('.floatFunc').remove(); })
    </script>
}