@using ECommerce.Facade.Product;
@using ECommerce.Facade.Common;
@using ECommerce.Facade.Recommend;
@using ECommerce.Entity;
@using ECommerce.Enums;
@using ECommerce.Entity.Category;
@using ECommerce.Facade.Topic;
@using ECommerce.Entity.Seckill;
@using ECommerce.Entity.Product;
@using ECommerce.Entity.Recommend;
@using ECommerce.Entity.Product.Review;
@using System.Collections.Generic;
@using ECommerce.Utility;
@using ECommerce.Entity.Member
@using ECommerce.Facade.Shopping
@using ECommerce.Entity.Promotion
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Main.cshtml";
    ViewBag.IsIndex = true;
    //这里需要更改为获取首页的SEO
    SetSEO(ECommerce.Facade.Keyword.KeywordFacade.GetSEO(0, 0));

    //1.获取广告信息
    var homeBanners = RecommendFacade.GetHomeBanners();

    //2.获取新闻公告信息
    List<NewsInfo> homePageNewsList = TopicFacade.GetHomePageNews(NewsType.HomePageNews);
    List<NewsInfo> promotionNewsList = TopicFacade.GetHomePageNews(NewsType.HomePagePromotionNews);

    //热卖商品推荐
    List<RecommendProduct> hotProducts = RecommendFacade.QueryRecommendProduct(0, (int)PageType.Home, (int)RecommendPosition.Home_HotProduct, 5);

    //品牌商品推荐
    List<RecommendProduct> brandProducts = RecommendFacade.QueryRecommendProduct(0, (int)PageType.Home, (int)RecommendPosition.Home_BrandProduct, 5);

    //折扣商品推荐
    List<RecommendProduct> discountProducts = RecommendFacade.QueryRecommendProduct(0, (int)PageType.Home, (int)RecommendPosition.Home_DiscountProduct, 5);

    //3.获取楼层信息
    List<FloorEntity> floorList = RecommendFacade.GetFloorInfo(PageCodeType.WebsiteHome, 1);

    //精选品牌
    List<RecommendBrandInfo> hotBrands = RecommendFacade.GetRecommendBrands(PageType.Home, 0);

    //3.获取三级类别信息
    List<CategoryInfo> categoryList = CategoryFacade.QueryCategoryInfosForHomePage();
    bool isIndex = false;
    if (ViewBag.IsIndex != null && ViewBag.IsIndex == true)
    {
        isIndex = true;
    }
}

@helper DisplayNews(List<NewsInfo> items, int top)
{
    int i = 0;
    for (; i < items.Count && i < top; i++)
    {
        var url = string.IsNullOrWhiteSpace(items[i].LinkUrl) ? BuildUrl("TopicDetail", items[i].SysNo) : items[i].LinkUrl;
    <li><a href="@url">@StringUtility.RemoveHtmlTag(items[i].Title)</a></li>
    }
    if (i >= top)
    {
    <li><a target="_blank" href="@BuildUrl("TopicList", (int)items[0].Type)">@GetText("查看更多")</a></li>
    }
}
@section rsContent{
    <div class="main">

        <div class="container">
            <div class="row">
                <div class="col-md-2 cate-list">
                    <div class="cate">
                        <ul>
                            @for (int i = 0; i < categoryList.Count && i < 8; i++)
                            {
                                var category1 = categoryList[i];
                                <li class="cate-item"><a href="@BuildUrl("C1Route", category1.CategoryID)">@category1.CategoryName</a></li>
                                 
                            }
                        </ul>

                    </div>
                </div>

                <div class="col-md-10">
                    <div class="slider">
                        <div id="carousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                @for (int num = 0; num < homeBanners.Sliders.Count; num++)
                                {
                                    if (num == 0)
                                    {
                                    <li data-target="#carousel" data-slide-to="@num" class="active"></li>
                                    }
                                    else
                                    {
                                    <li data-target="#carousel" data-slide-to="@num"></li>
                                    }
                                }
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                @for (int num = 0; num < homeBanners.Sliders.Count; num++)
                                {

                                    if (num == 0)
                                    {
                                    <div class="item active">
                                        <a href="@homeBanners.Sliders[num].BannerLink" target="_blank">
                                            <img src="@homeBanners.Sliders[num].BannerResourceUrl" alt="@homeBanners.Sliders[num].BannerTitle"></a>
                                    </div>
                                    }
                                    else
                                    {
                                    <div class="item">
                                        <a href="@homeBanners.Sliders[num].BannerLink" target="_blank">
                                            <img src="@homeBanners.Sliders[num].BannerResourceUrl" alt="@homeBanners.Sliders[num].BannerTitle"></a>
                                    </div>
                                    }
                                }
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sale block container">
            <div class="row">
                <div class="sales col-md-9">
                    <h2><i class="fa fa-bolt" aria-hidden="true"></i>超级特价</h2>
                    <ul class="sale-list product-list" style="width: 1760px; transform: translateX(0); transition-property: transform; transition-duration: 0.6s;">
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <p class="p_item_price">
                                <span class="price price_new"><i>¥</i><span>5988.00</span></span>
                                <span class="price price_origin"><i>¥</i><del>6588.00</del></span>
                            </p>
                            <p class="sale_num">100箱起</p>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <p class="p_item_price">
                                <span class="price price_new"><i>¥</i><span>5988.00</span></span>
                                <span class="price price_origin"><i>¥</i><del>6588.00</del></span>
                            </p>
                            <p class="sale_num">100箱起</p>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic3.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <p class="p_item_price">
                                <span class="price price_new"><i>¥</i><span>5988.00</span></span>
                                <span class="price price_origin"><i>¥</i><del>6588.00</del></span>
                            </p>
                            <p class="sale_num">100箱起</p>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <p class="p_item_price">
                                <span class="price price_new"><i>¥</i><span>5988.00</span></span>
                                <span class="price price_origin"><i>¥</i><del>6588.00</del></span>
                            </p>
                            <p class="sale_num">100箱起</p>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic2.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <p class="p_item_price">
                                <span class="price price_new"><i>¥</i><span>5988.00</span></span>
                                <span class="price price_origin"><i>¥</i><del>6588.00</del></span>
                            </p>
                            <p class="sale_num">100箱起</p>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <p class="p_item_price">
                                <span class="price price_new"><i>¥</i><span>5988.00</span></span>
                                <span class="price price_origin"><i>¥</i><del>6588.00</del></span>
                            </p>
                            <p class="sale_num">100箱起</p>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <p class="p_item_price">
                                <span class="price price_new"><i>¥</i><span>5988.00</span></span>
                                <span class="price price_origin"><i>¥</i><del>6588.00</del></span>
                            </p>
                            <p class="sale_num">100箱起</p>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <p class="p_item_price">
                                <span class="price price_new"><i>¥</i><span>5988.00</span></span>
                                <span class="price price_origin"><i>¥</i><del>6588.00</del></span>
                            </p>
                            <p class="sale_num">100箱起</p>
                        </li>
                    </ul>
                    <div class="sale_control">
                        <a href="javascript:void(0)" class="control-pre controls_item"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        <a href="javascript:void(0)" class="control-next controls_item"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="new-order">
                        <h2><i class="fa fa-globe" aria-hidden="true"></i>最新订单</h2>
                        <div class="order-list">
                            <table class="table">
                                <thead>
                                    <tr class="warning">
                                        <th>国家</th>
                                        <th>订单总额</th>
                                        <th>状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="images/flag_usa.png" />USA</td>
                                        <td>US<span class="price">$52.73</span></td>
                                        <td class="state">已付款</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="images/flag_usa.png" />USA</td>
                                        <td>US<span class="price">$98.5</span></td>
                                        <td class="state">已付款</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="images/flag_usa.png" />USA</td>
                                        <td>US<span class="price">$156</span></td>
                                        <td class="state">已付款</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="images/flag_usa.png" />USA</td>
                                        <td>US<span class="price">$520</span></td>
                                        <td class="state">已付款</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="images/flag_usa.png" />USA</td>
                                        <td>US<span class="price">$89.5</span></td>
                                        <td class="state">已付款</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="images/flag_usa.png" />USA</td>
                                        <td>US<span class="price">$45.6</span></td>
                                        <td class="state">已付款</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hot block container">
            <div class="block-title">
                <h3>热销商品</h3>
            </div>
            <div id="carousel2" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">;
                    <img src="@ProductFacade.BuildProductImage(ECommerce.Enums.ImageSize.P450, hotProducts[0].DefaultImage)" alt="@hotProducts[0].ProductTitle">
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#carousel2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="vip block container">
            <div class="block-title">
                <h3>会员专享</h3>
            </div>
            <div class="row">
                <div class="vip-p col-md-12">
                    <ul class="product-list">
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <div class="p_item_price">
                                <p class="price price_origin"><i>¥</i><del>6588.00</del></p>
                                <p class="price price_new"><b>会员价:</b><i>¥</i><span>5988.00</span></p>

                            </div>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <div class="p_item_price">
                                <p class="price price_origin"><i>¥</i><del>6588.00</del></p>
                                <p class="price price_new"><b>会员价:</b><i>¥</i><span>5988.00</span></p>

                            </div>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <div class="p_item_price">
                                <p class="price price_origin"><i>¥</i><del>6588.00</del></p>
                                <p class="price price_new"><b>会员价:</b><i>¥</i><span>5988.00</span></p>

                            </div>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <div class="p_item_price">
                                <p class="price price_origin"><i>¥</i><del>6588.00</del></p>
                                <p class="price price_new"><b>会员价:</b><i>¥</i><span>5988.00</span></p>

                            </div>
                        </li>
                        <li class="p_item">
                            <div class="p_item_pic">
                                <a href="javascript:void(0)" target="_blank" class="sale_item_pic">
                                    <img src="images/pic1.jpg">
                                    <p class="sale_item_name">正宗临潼石榴特级甜石榴孕妇水果石榴大颗粒</p>
                                </a>
                            </div>
                            <div class="p_item_price">
                                <p class="price price_origin"><i>¥</i><del>6588.00</del></p>
                                <p class="price price_new"><b>会员价:</b><i>¥</i><span>5988.00</span></p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="merchant block container">
            <div class="block-title">
                <h3>商家服务</h3>
            </div>
            <div class="block-content">
                <div class="ms row">
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-1.png" />
                            <span>新手入门</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-2.png" />
                            <span>交易方式</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-3.png" />
                            <span>支付方式</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-4.png" />
                            <span>多品种组货</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-5.png" />
                            <span>大单申请</span></a>
                    </div>
                </div>
                <div class="ms row">
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-6.png" />
                            <span>参与集中性议价</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-7.png" />
                            <span>行业进出口咨询</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-8.png" />
                            <span>政策法规</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-9.png" />
                            <span>物流服务</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-10.png" />
                            <span>金融服务</span></a>
                    </div>
                </div>
                <div class="ms row">
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-11.png" />
                            <span>第三方担保放心购</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-12.png" />
                            <span>增值与营销</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-13.png" />
                            <span>线上通关</span></a>
                    </div>
                    <div class="ms-item">
                        <a href="javascript:void(0)">
                            <img src="../Resources/images/ms-14.png" />
                            <span>售后服务</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $("#PlatformCouponList").css("display", "block");
        })
    </script>
}
